<config>
        <version>1</version>

        <serialport>/dev/ttyUSB0</serialport>

        <pid_create_file>yes</pid_create_file>
        <pid_file>/tmp/p1parser.pid</pid_file>

        <mysql_use>yes</mysql_use>
        <mysql_quit_on_error>yes</mysql_quit_on_error>

        <mysql_server>localhost</mysql_server>
        <mysql_database>database</mysql_database>
        <mysql_username>username</mysql_username>
        <mysql_password>password</mysql_password>
</config>
